<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Backbone.js - ToDoMVC</title>
  <link rel="stylesheet" href="assets/base.css">
</head>
<body>

  <section id="todoapp">
    <header id="header">
      <h1>ToDo リスト</h1>
      <input id="new-todo" placeholder="することを入力してください" autofocus>
    </header>
    <section id="main">
      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">すべて完了済みにする</label>
      <ul id="todo-list"></ul>
    </section>
    <footer id="footer"></footer>
  </section>

  <div id="info">
    <p>項目はダブルクリックすると編集できます</p>
    <p><a href="https://github.com/addyosmani">Addy Osmani</a></p>
    <p><a href="http://todomvc.com">ToDoMVC</a>の一部として開発</p>
  </div>

  <script id="item-template" type="text/template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
      <label><%- title %></label>
      <button id="destroy"></button>
    </div>
    <input class="edit" value="<%- title %>">
  </script>

  <script id="stats-template" type="text/template">
    <span id="todo-count">残り<strong><%= remaining %></strong>件</span>
    <ul id="filters">
      <li><a class="selected" href="#/">すべて</a></li>
      <li><a href="#/active">未了</a></li>
      <li><a href="#/completed">完了済み</a></li>
    </ul>

    <% if (completed) { %>
      <button id="clear-completed">完了済みの項目を消去
      （<%= completed %>件）</button>
    <% } %>
  </script>

  <script type="text/template" id="item-template"></script>
  <script type="text/template" id="stats-template"></script>
  <script src="js/lib/jquery-2.1.1.min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="js/lib/backbone.localStorage.js"></script>
  <script src="js/models/todo.js"></script>
  <script src="js/collections/todos.js"></script>
  <script src="js/views/todos.js"></script>
  <script src="js/views/app.js"></script>
  <script src="js/routers/router.js"></script>
  <script src="js/app.js"></script>
</body>
</html>

